In [23]:
# links to websites
territoryLink='https://www.citypopulation.de/en/world/bymap/landarea/'
birthRateLink='https://www.cia.gov/the-world-factbook/about/archives/2021/field/birth-rate/country-comparison'
energyLink='https://www.worldometers.info/energy/'

# scrapping into LIST of Dataframes

import pandas as pd

territoryList=pd.read_html(territoryLink,header=0,flavor='bs4')
birthRateList=pd.read_html(birthRateLink,header=0,flavor='bs4')
energyList=pd.read_html(energyLink,header=0,flavor='bs4')

In [24]:
# getting the Dataframe from list
territory=territoryList[0]
birthRate=birthRateList[0]
energy=energyList[0]

In [25]:
territory

,Rank (total),Country,Total (square km),per Capita (square m),Date
0,1.0,Russia,16377742.0,113358,2018
1,2.0,Antarctica,14200000.0,...,2018
2,3.0,China,9326410.0,6696,2018
3,4.0,United States of America,9147593.0,27960,2018
4,5.0,Canada,9093507.0,245380,2018
...,...,...,...,...,...
250,250.0,Spratly Islands,5.0,...,2018
251,252.0,Coral Sea Islands,3.0,...,2018
252,253.0,Monaco,2.0,53,2018
253,254.0,Vatican City,0.4,530,2018
254,NaN,World,148940000.0,19849,2018

In [26]:
birthRate

,Rank,Country,"births/1,000 population",Date of Information
0,1,Niger,47.28,2021 est.
1,2,Angola,42.22,2021 est.
2,3,Mali,41.60,2021 est.
3,4,Uganda,41.60,2021 est.
4,5,Benin,41.55,2021 est.
...,...,...,...,...
222,224,Japan,7.00,2021 est.
223,225,Andorra,6.91,2021 est.
224,226,"Korea, South",6.89,2021 est.
225,227,Monaco,6.63,2021 est.
226,228,Saint Pierre and Miquelon,6.58,2021 est.

In [27]:
energy

,#,Country,Energy Consumption (BTU),World Share,Per capita Yearly BTU
0,1,China,138689472800000,23.8%,98342
1,2,United States,97661161460000,16.8%,296130
2,3,Russia,32832743720000,5.6%,225728
3,4,India,30476788610000,5.2%,22505
4,5,Japan,19402928820000,3.3%,153186
...,...,...,...,...,...
204,205,Saint Pierre & Miquelon,1982000000,0.00034%,332718
205,206,Tonga,1807000000,0.00031%,17142
206,207,Cook Islands,1677278000,0.00029%,96423
207,208,Falkland Islands,82900000,0.00001%,23041
208,209,Kiribati,46100000,0.00001%,383

In [29]:
territory.shape,birthRate.shape,energy.shape

((255, 5), (227, 4), (209, 5))

In [30]:
territory.columns,birthRate.columns,energy.columns

(Index(['Rank (total)', 'Country', 'Total (square km)', 'per Capita (square m)',
        'Date'],
       dtype='object'),
 Index(['Rank', 'Country', 'births/1,000 population', 'Date of Information'], dtype='object'),
 Index(['#', 'Country', 'Energy  Consumption (BTU)', 'World  Share',
        'Per capita Yearly BTU'],
       dtype='object'))

In [31]:
# how many resulting rows after inner merging
territory.merge(birthRate,how='inner',left_on='Country',right_on='Country').shape

(207, 8)

In [32]:
# First merge -> between territory and birthRate
merge1=territory.merge(birthRate,left_on='Country',right_on='Country')
merge1

,Rank (total),Country,Total (square km),per Capita (square m),Date,Rank,"births/1,000 population",Date of Information
0,1.0,Russia,16377742.0,113358,2018,193,9.71,2021 est.
1,3.0,China,9326410.0,6696,2018,169,11.30,2021 est.
2,5.0,Canada,9093507.0,245380,2018,190,10.21,2021 est.
3,6.0,Brazil,8358140.0,40088,2018,136,13.44,2021 est.
4,7.0,Australia,7682300.0,307380,2018,154,12.35,2021 est.
...,...,...,...,...,...,...,...,...
202,240.0,Tuvalu,25.6,2433,2018,54,22.97,2021 est.
203,241.0,Saint Barthelemy,25.0,2475,2018,200,9.27,2021 est.
204,243.0,Nauru,21.2,1868,2018,66,21.49,2021 est.
205,246.0,Gibraltar,6.5,188,2018,132,13.99,2021 est.
206,253.0,Monaco,2.0,53,2018,227,6.63,2021 est.

In [33]:
merge1.merge(energy,how='inner',left_on='Country',right_on='Country').shape

(180, 12)

In [34]:
# second merge -> between merge1 and energy
merge2=merge1.merge(energy,left_on='Country',right_on='Country')
merge2

,Rank (total),Country,Total (square km),per Capita (square m),Date,Rank,"births/1,000 population",Date of Information,#,Energy Consumption (BTU),World Share,Per capita Yearly BTU
0,1.0,Russia,16377742.0,113358,2018,193,9.71,2021 est.,3,32832743720000,5.6%,225728
1,3.0,China,9326410.0,6696,2018,169,11.30,2021 est.,1,138689472800000,23.8%,98342
2,5.0,Canada,9093507.0,245380,2018,190,10.21,2021 est.,6,15062124200000,2.6%,412047
3,6.0,Brazil,8358140.0,40088,2018,136,13.44,2021 est.,9,12566399560000,2.2%,60269
4,7.0,Australia,7682300.0,307380,2018,154,12.35,2021 est.,18,6127579421000,1.05218%,249187
...,...,...,...,...,...,...,...,...,...,...,...,...
175,221.0,Cook Islands,236.0,15128,2018,142,12.85,2021 est.,207,1677278000,0.00029%,96423
176,224.0,Aruba,180.0,1615,2018,159,11.95,2021 est.,167,17606311000,0.00302%,166981
177,226.0,British Virgin Islands,151.0,4519,2018,176,10.98,2021 est.,199,3397977000,0.00058%,113040
178,235.0,Bermuda,53.6,839,2018,174,11.10,2021 est.,182,11252000000,0.00193%,177827
179,246.0,Gibraltar,6.5,188,2018,132,13.99,2021 est.,106,192833000000,0.0331%,5914760

In [40]:
#subir el archivo entregado por el profesor
import os
country_isos=pd.read_excel(os.path.join('country_isos.xlsx'))

In [41]:
country_isos

,Country,Officialstatename,InternetccTLD,iso2,iso3
0,AFGHANISTAN,The Islamic Republic of Afghanistan,.af,AF,AFG
1,ALBANIA,The Republic of Albania,.al,AL,ALB
2,ALGERIA,The People's Democratic Republic of Algeria,.dz,DZ,DZA
3,ANGOLA,The Republic of Angola,.ao,AO,AGO
4,ANTIGUA AND BARBUDA,Antigua and Barbuda,.ag,AG,ATG
...,...,...,...,...,...
166,UZBEKISTAN,The Republic of Uzbekistan,.uz,UZ,UZB
167,VIET NAM,The Socialist Republic of Viet Nam,.vn,VN,VNM
168,YEMEN,The Republic of Yemen,.ye,YE,YEM
169,ZAMBIA,The Republic of Zambia,.zm,ZM,ZMB
170,ZIMBABWE,The Republic of Zimbabwe,.zw,ZW,ZWE

In [46]:
country_isos.shape

(171, 5)

In [47]:
country_isos.columns

Index(['Country', 'Officialstatename', 'InternetccTLD', 'iso2', 'iso3'], dtype='object')

In [42]:
merge2.merge(country_isos,how='inner',left_on='Country',right_on='Country').shape

(0, 16)

In [44]:
# modify the 'Country' column of the 'merge2' dataframe so that it is in UPPER LETTERS
merge2_copy = merge2.copy()
merge2_copy['Country'] = merge2_copy['Country'].str.upper()
merge2_copy

,Rank (total),Country,Total (square km),per Capita (square m),Date,Rank,"births/1,000 population",Date of Information,#,Energy Consumption (BTU),World Share,Per capita Yearly BTU
0,1.0,RUSSIA,16377742.0,113358,2018,193,9.71,2021 est.,3,32832743720000,5.6%,225728
1,3.0,CHINA,9326410.0,6696,2018,169,11.30,2021 est.,1,138689472800000,23.8%,98342
2,5.0,CANADA,9093507.0,245380,2018,190,10.21,2021 est.,6,15062124200000,2.6%,412047
3,6.0,BRAZIL,8358140.0,40088,2018,136,13.44,2021 est.,9,12566399560000,2.2%,60269
4,7.0,AUSTRALIA,7682300.0,307380,2018,154,12.35,2021 est.,18,6127579421000,1.05218%,249187
...,...,...,...,...,...,...,...,...,...,...,...,...
175,221.0,COOK ISLANDS,236.0,15128,2018,142,12.85,2021 est.,207,1677278000,0.00029%,96423
176,224.0,ARUBA,180.0,1615,2018,159,11.95,2021 est.,167,17606311000,0.00302%,166981
177,226.0,BRITISH VIRGIN ISLANDS,151.0,4519,2018,176,10.98,2021 est.,199,3397977000,0.00058%,113040
178,235.0,BERMUDA,53.6,839,2018,174,11.10,2021 est.,182,11252000000,0.00193%,177827
179,246.0,GIBRALTAR,6.5,188,2018,132,13.99,2021 est.,106,192833000000,0.0331%,5914760

In [45]:
merge2_copy.merge(country_isos,how='inner',left_on='Country',right_on='Country').shape

(140, 16)

In [48]:
# third merge -> between merge2_copy and country_isos
merge3=merge2_copy.merge(country_isos,left_on='Country',right_on='Country')
merge3

,Rank (total),Country,Total (square km),per Capita (square m),Date,Rank,"births/1,000 population",Date of Information,#,Energy Consumption (BTU),World Share,Per capita Yearly BTU,Officialstatename,InternetccTLD,iso2,iso3
0,3.0,CHINA,9326410.0,6696,2018,169,11.30,2021 est.,1,138689472800000,23.8%,98342,The People's Republic of China,.cn,CN,CHN
1,5.0,CANADA,9093507.0,245380,2018,190,10.21,2021 est.,6,15062124200000,2.6%,412047,Canada,.ca,CA,CAN
2,6.0,BRAZIL,8358140.0,40088,2018,136,13.44,2021 est.,9,12566399560000,2.2%,60269,The Federative Republic of Brazil,.br,BR,BRA
3,7.0,AUSTRALIA,7682300.0,307380,2018,154,12.35,2021 est.,18,6127579421000,1.05218%,249187,The Commonwealth of Australia,.au,AU,AUS
4,8.0,INDIA,2973193.0,2293,2018,90,17.53,2021 est.,4,30476788610000,5.2%,22505,The Republic of India,.in,IN,IND
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,205.0,ANTIGUA AND BARBUDA,442.6,4649,2018,115,15.30,2021 est.,184,10605278000,0.00182%,116389,Antigua and Barbuda,.ag,AG,ATG
136,206.0,BARBADOS,430.0,1513,2018,178,10.96,2021 est.,164,24763656000,0.00425%,88699,Barbados,.bb,BB,BRB
137,213.0,GRENADA,344.0,3224,2018,127,14.27,2021 est.,196,4338852000,0.00075%,35882,Grenada,.gd,GD,GRD
138,215.0,MALTA,316.0,652,2018,191,9.84,2021 est.,124,128532491000,0.0221%,268057,The Republic of Malta,.mt,MT,MLT
139,216.0,MALDIVES,298.0,582,2018,112,15.69,2021 est.,165,24704426000,0.00424%,52291,The Republic of Maldives,.mv,MV,MDV